@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oleo+Script:wght@400;700&family=Permanent+Marker&display=swap");
/* font-face 눈누 폰트 삽입 */
@font-face {
  font-family: "Ownglyph_JAEGEONSA-Rg";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2405-2@1.0/Ownglyph_JAEGEONSA-Rg.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}
h1 {
  font-family: "Permanent Marker", cursive;
  font-weight: 400;
  font-style: normal;
}
h2 {
  font-family: "Oleo Script", system-ui;
  font-weight: 400;
  font-style: normal;
}
p {
  font-family: "Ownglyph_JAEGEONSA-Rg";
}
