@font-face {
  font-family: "Pretendard-Regular";
  src: url("./font/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard-Bold";
  src: url("./font/Pretendard-Bold.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

p {
  font-family: "Pretendard-Regular";
}
strong {
  font-family: "Pretendard-Bold";
}
