.info-box {
  border: 3px solid black;
  border-radius: 10px;
  height: 150px;
  width: 350px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: 700;
  margin: 0;
}
